<!DOCTYPE html>
<html>
<body>
    <div class="text-center" style="padding-top: 5%;">
        <h1>Welcome to the Gambling Site</h1>

        <h2 class="pt-5 text-color"> Click here to <a href="/login"> LOGIN </a> </h2>
        <h2 class="pt-2 text-color"> Click here to <a href="/register"> REGISTER </a> </h2>
</body>
</html>