<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8' />
    <title>Gambling Site</title>
    
    <!-- Import Bootstrap 4 CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- Import Gambling CSS -->
    <link href='/style.css' rel='stylesheet' />
</head>
<body>

    <div id="home"> 

        <header>
            <h1 class="heading text-center">Gambling Site - Roll A Dice</h1>
        </header>

        <div>
            <%= yield %>
        </div>

        <footer>
            <div class="footer">
                <h4 class="heading text-center footer-msg"> 
                    Roll A Dice
                </h4>
            </div>
        </footer>
    </div>
</body>
</html>