<!DOCTYPE html>
<html>
<body>
    <!-- Login User Page -->
    <div class="row justify-content-center" style="padding-top: 5%;">
        <div class="col-lg-4 text-center">
            
            <h2 class="pb-5"> LOGIN </h2>
            
            <% if session[:message] %>
                <h4><%= session[:message] %> </h4>
                <% session[:message]= nil %>
            <% end %>


            <!-- Login - Form -->
            <form  method='post' action='/login'>
                <div class="form-group">
                    <!-- <label for="user" class="bold">Username</label> -->
                    <input type="text" id="user" class="form-control" name="username" placeholder="Username" required>
                </div>
                
                <div class="form-group">
                    <!-- <label for="password" class="bold">Password</label> -->
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                </div>

                <div class="form-group pt-3">
                    <button name="login" type="submit" class="btn btn-success button"> Login </button>
                </div>

                <div class="form-group">
                    <h5> <a href="/home"> Go Back To Home </a> </h5>
                </div>
            </form>
            
        </div>
    </div>
</body>
</html>